In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
btc_data = pd.read_csv('soc-sign-bitcoinotc.csv', header=None)
btc_data

          0     1   2             3
0         6     2   4  1.289242e+09
1         6     5   2  1.289242e+09
2         1    15   1  1.289243e+09
3         4     3   7  1.289245e+09
4        13    16   8  1.289254e+09
5        13    10   8  1.289254e+09
6         7     5   1  1.289363e+09
7         2    21   5  1.289371e+09
8         2    20   5  1.289371e+09
9        21     2   5  1.289381e+09
10       21     1   8  1.289441e+09
11       21    10   8  1.289441e+09
12       21     8   9  1.289441e+09
13       21     3   7  1.289442e+09
14       17     3   5  1.289442e+09
15       17    23   1  1.289490e+09
16       10     1   8  1.289556e+09
17       10     6   7  1.289556e+09
18       10    21   8  1.289556e+09
19       10     8   1  1.289556e+09
20       10    25  10  1.289556e+09
21       10     2   7  1.289556e+09
22       10     3   7  1.289556e+09
23        4    26   1  1.289642e+09
24       26     4   1  1.289642e+09
25        5     1   3  1.289660e+09
26        5     6   3  1.289660e+09
27        5     7   1  1.289660e+09
28        1     5   4  1.289711e+09
29        6     4   2  1.289771e+09
...     ...   ...  ..           ...
35562  5688  5318   1  1.452182e+09
35563  1639  2067   1  1.452279e+09
35564  2067  1639   1  1.452279e+09
35565  2067  2045   7  1.452279e+09
35566   481  1810   6  1.452380e+09
35567  5928  1396   1  1.452382e+09
35568  3714  3837   2  1.452530e+09
35569  1018  2124   5  1.452553e+09
35570  2045  5903   1  1.452613e+09
35571   361  5449   2  1.452719e+09
35572   361  3804   4  1.452719e+09
35573  3804   361   4  1.452751e+09
35574  3837  3714   2  1.452808e+09
35575  1810  5983   4  1.452837e+09
35576  5983  1810   4  1.452837e+09
35577  5903  2045   5  1.453146e+09
35578  2731  4296   1  1.453282e+09
35579  3901  2731   1  1.453287e+09
35580    41  1052   1  1.453312e+09
35581  4608    13   2  1.453313e+09
35582  4608  2045   2  1.453317e+09
35583  2045  4608   2  1.453317e+09
35584    13  4608   2  1.453318e+09
35585  1953  5655 -10  1.453556e+09
35586  1810  4499   2  1.453611e+09
35587  4499  1810   1  1.453612e+09
35588  2731  3901   5  1.453679e+09
35589  2731  4897   5  1.453679e+09
35590    13  1128   1  1.453680e+09
35591  1128    13   2  1.453684e+09

[35592 rows x 4 columns]

In [10]:
min(min(btc_data[1]), min(btc_data[0]))

1

In [3]:
grpedbyoutgoing = btc_data.groupby(0).count()
grpedbyincoming = btc_data.groupby(1).count()
print("Average outgoing degree - ", grpedbyoutgoing[1].mean())
print("Average incoming degree - ", grpedbyincoming[0].mean())

Average outgoing degree -  7.393435812214375
Average incoming degree -  6.075793786275179

In [4]:
btc_data.groupby([0,1]).count()[2]
#implies no multiple edges between any pair of nodes

0     1
1     2       1
      3       1
      4       1
      5       1
      6       1
             ..
5994  5458    1
5995  35      1
5996  5949    1
5999  3878    1
6000  6002    1
Name: 2, Length: 35592, dtype: int64

In [5]:
grpbyrating = btc_data.groupby(2).count()
grpbyrating

         0      1      3
2
-10   2413   2413   2413
-9      20     20     20
-8      31     31     31
-7      14     14     14
-6       5      5      5
-5     179    179    179
-4      27     27     27
-3      91     91     91
-2     182    182    182
-1     601    601    601
 1   20048  20048  20048
 2    5562   5562   5562
 3    2561   2561   2561
 4     967    967    967
 5    1268   1268   1268
 6     265    265    265
 7     208    208    208
 8     277    277    277
 9     108    108    108
 10    765    765    765

In [6]:
#dividing the data into 137 timestamps according to paper evolve gcn
mintstep = btc_data[3].min()
maxtstep = btc_data[3].max()
print(mintstep, maxtstep)

1289241911.72836 1453684323.75728

In [22]:
pts = np.linspace(mintstep ,maxtstep, 138)
intervals = []
for i in range(len(pts)):
    if i!= len(pts) - 1:
        intervals.append((pts[i], pts[i+1]))
timestamp_edges = list(map(lambda inte:  btc_data[(btc_data[3] >= inte[0]) & (btc_data[3] < inte[1]) ], intervals))

In [29]:
#Divide according to evolvegcn
train_timest = timestamp_edges[:95]
val_timest = timestamp_edges[95:109]
test_timest = timestamp_edges[109:]
print(len(train_timest), len(val_timest), len(test_timest))

95 14 28

In [42]:
print("Training- Avg number of edges and nodes")
print(np.mean(list(map(lambda gr: gr.shape[0], train_timest))))
print(np.mean(list(map(lambda gr: len(set(gr[0]).union(gr[1])), train_timest))))
print("Validation- Avg number of edges and nodes")
print(np.mean(list(map(lambda gr: gr.shape[0], val_timest))))
print(np.mean(list(map(lambda gr: len(set(gr[0]).union(gr[1])), val_timest))))
print("Test- Avg number of edges and nodes")
print(np.mean(list(map(lambda gr: gr.shape[0], test_timest))))
print(np.mean(list(map(lambda gr: len(set(gr[0]).union(gr[1])), test_timest))))

Training- Avg number of edges and nodes
344.89473684210526
187.78947368421052
Validation- Avg number of edges and nodes
126.71428571428571
100.28571428571429
Test- Avg number of edges and nodes
37.57142857142857
35.42857142857143

In [45]:
with open('btcotc_train.pickle', 'wb') as handle:
    pickle.dump(train_timest, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('btcotc_val.pickle', 'wb') as handle:
    pickle.dump(val_timest, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('btcotc_test.pickle', 'wb') as handle:
    pickle.dump(test_timest, handle, protocol=pickle.HIGHEST_PROTOCOL)